@font-face {
  font-family: 'Topor';
  src: url('Topor-Regular.ttf');
}

body {
  background: linear-gradient(135deg, #000000, #161a21);
  font-family: 'Topor', sans-serif;
  margin: 0;
  overflow: hidden;
  touch-action: manipulation;
}

/* Контейнер с кнопкой и текстом по центру */
#header {
  font-size: 22px;
  color: #fff;
}

#counter {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

#clicker-btn {
  width: 150px;
  height: 150px;
  background-image: url("bottle.jpg");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#clicker-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

